.mannequinImg {
  height: 400px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 400px;
  background-position-x: 47%;
  background-image: url('./img/mannequin_done3.png');
}

#controller{
  width: 500px;
  left: -70px;
}

.wearLi{
  text-align: center;
}

.wearImg{
  width: 100%;
}